@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Abel', sans-serif;
    margin: 50px 0 0 0;
}


.background {
    background-image: url(images/coco.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 1200px;
    margin: 0 auto;

}

.inhoud {
    width: 40%;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}

.logo {
    width: 300px;
    padding-left: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: white;
    font-weight: lighter;
}

p {
    color: white;
    font-weight: lighter;
}

a {
    padding: 20px;
    margin-top: 20px;
    position: relative;
    float: left;
    background-color: #f38030;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #FFF;
    color: #f38030;
}